.cardContainer {
    position: relative;
    padding: 2rem 0.5rem;
    background-color: #f5f6f7;
    border-radius: 10px;
}

.cardOverlay,
.cardContainer {
    border-radius: 10px;
}

.cardLoaderContainer,
.cardOverlay {
    position: absolute;
    height: 100%;
}

.cardLoaderContainer {
    z-index: 5;
    display: flex;
    align-items: center;

    top: -20%;
}

.cardOverlay {
    width: 100%;
    opacity: 0.75;
    z-index: 2;
    background-color: #282c34;
    top: 0;
}

.cardItem {
    display: flex;
    flex-direction: column;
    height: 30rem;
    align-items: center;
    overflow: hidden;
    gap: 1rem;
}

.cardInner {
    text-align: center;
}

.cardItem:hover > .backgroundImage {
    transform: scale(1.1);
    transition: all 1s;
}

.cardName {
    color: #041562;
}

.cardButton {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.backgroundImage {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 1rem 0;
    transition: all 1s;
}
